@import 'react-bootstrap-table-all.min.scss';
html {
	background-color: $body-bg;
}
body {
	background-color: $body-bg;
	color: $gray-lighter;
	overflow: hide;
	padding: 15px;
}

.console-panel {
	border: solid 1px #fff;
	padding: 5px;
	height: 930px;
}

.console-btn {
	font-size: 46pt;
	font-weight: bolder;
	height: 500px;
	width: 100%;
	margin: 3px;
}

.console-clock {
	font-size: 75pt;
	padding: 60px 0;
}

.react-bs-table-container {
	width: 100%;
	padding: 0px;
	font-size: 12pt;
}

.fx-status {
	font-size: 18pt;
	font-weight: bolder;
	height: 25px;
	line-height: 25px;
	color: lightBlue;
}

.tr-odd {
    background-color: #717171;
}

.tr-selected {
	background-color: blue;
}

.modal-dialog {
	position: fixed;
	right: 15px;
	width: 470px;
}

.modal-header {
	color: black;
}

.modal-body {
	padding: 0;
}

.modal-backdrop.in {
	opacity: 0.1;
}

.wh-store-success {
	color: green;
	font-size: 16pt;
	font-weight: bolder;
}

.wh-sotre-failure {
	color: red;
	font-size: 16pt;
	font-weight: bolder;
}

.form-control {
	font-size: 13pt;
	font-weight: bolder;
}

.wh-store-default {
	font-size: 16pt;
	font-weight: bolder;
}

.mydialog .modal-dialog{
	position: relative;
}

.control-label {
	font-size:14pt;
}

.fx-ok, .fx-rework {
	font-size: 16pt;
	font-weight: bolder;
}

.fx-ok {
	color: green;
}

.fx-rework {
	color: red;
}

.fx-full-screen-btn {
	position: fixed;
	z-index: 2048;
	left: 25px;
	top: 540px;
	width: 8%;
	height: 100px;
}

.fx-select-box {
	padding-left: 10px;
	width: 100%;
	color: black;
	margin: 5px 0;
	font-size: 16pt;
	border-radius: 5px
}

.fx-select {
    box-shadow: inset 0 0 3px #a0a0a0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../images/Arrow-default.png') 98% / 8% no-repeat #fdfdfd;
    cursor: pointer;
}

.control-label {
	padding-top: 4px;
	font-weight: bolder;
}

.fx-label {
	padding-top: 10px;
}

.fx-select:hover {
    background: url('../images/Arrow-hover.png') 98% / 8% no-repeat #fdfdfd;
}

.fx-full-screen-btn.minxum {
	background: #ebe8e9 url('../images/wh_screen_minxum.png') center center no-repeat;
}

.fx-full-screen-btn.full{
	background: #e6f4fc url('../images/wh_screen_full.png') center center no-repeat;
}

.fx-full-screen-btn.minxum:hover, .fx-full-screen-btn.full:hover {
    border: solid 2px white;
}

input.form-control:focus {
	background-color: white;
	color: black;
	font-weight: bolder;
	border: solid 1px white;
}

input.form-control, input.form-control:disabled {
	background-color: gray;
}
