@import 'react-bootstrap-table-all.min.scss';
html {
	background-color: $body-bg;
}
body {
	background-color: $body-bg;
	color: $gray-lighter;
	padding: 15px;
}

.console-panel {
	border: solid 1px #fff;
	padding: 5px;
}

.console-btn {
	font-size: 46pt;
	font-weight: bolder;
	height: 200px;
	width: 100%;
	margin: 3px;
}

.console-clock {
	font-size: 75pt;
	padding: 60px 0;
}

.react-bs-table-container {
	width: 100%;
	padding: 0px;
	font-size: 12pt;
}

.fx-unit-col {
	font-size: 15pt;
	font-weight: bolder;
	padding: 0px 1px;
	margin-top: 0;
	height: 32px;
	text-align: center;
}

.fx-unit-container {
	padding: 6px 0;
}

.fx-unit-container .row {
	padding: 1px 0;
	margin: 0;
}

.label-default, .label-primary, .label-danger {
	height: 100%;
}

.label-default, .label-primary, .label-danger {
	&:hover{
		cursor: pointer;
	}
}

.label-primary {
	background-color: #3692e0;
}

.tr-odd {
    background-color: #717171;
}

.tr-selected {
	background-color: blue;
}

.modal-dialog {
	position: fixed;
	right: 15px;
	width: 470px;
}

.modal-header {
	color: black;
}

.modal-body {
	padding: 0;
}

.modal-backdrop.in {
	opacity: 0.1;
}

.wh-store-success {
	color: green;
	font-size: 16pt;
	font-weight: bolder;
}

.wh-sotre-failure {
	color: red;
	font-size: 16pt;
	font-weight: bolder;
}

.form-control {
	font-size: 13pt;
	font-weight: bolder;
}

.wh-store-default {
	font-size: 16pt;
	font-weight: bolder;
}

.mydialog .modal-dialog{
	position: relative;
}

.control-label {
	font-size:14pt;
}

.fx-full-screen-btn {
	position: fixed;
	z-index: 2048;
	left: 5%;
	top: 445px;
	width: 4%;
	height: 50px;
}

.fx-full-screen-btn.minxum {
	background: #ebe8e9 url('../images/wh_screen_minxum.png') center center no-repeat;
}

.fx-full-screen-btn.full{
	background: #e6f4fc url('../images/wh_screen_full.png') center center no-repeat;
}

.fx-full-screen-btn.minxum:hover, .fx-full-screen-btn.full:hover {
    border: solid 2px white;
}

td:hover {
	cursor: pointer;
}

.td-column-danger { background-color: red; }
.td-column-safe { background-color: normal; }
