@import 'react-bootstrap-table-all.min.scss';
@import 's-alert-default.scss';
@import 's-alert-css-effects/stackslide.scss';
@import 'loading.min.scss';

.container-ratio {
	width: 100%;
	padding: 2px 0 0 0;
	margin: 0 0px;
	font-size:16pt;
}

body {
	background-color: $body-bg;
	color: $gray-lighter;
	overflow-x: hidden;
}

.react-bs-table-csv-btn span, .status-bar .form-control, .status-bar .btn{
	height: 45px;
	font-size: 18pt;
	font-weight: bolder;
}

.modal-open {
	overflow-y: scroll;
}

.scan-btn {
	margin-top: -7px;
	padding-top: -15px;
}

.fx-input {
	color: black;
}

.react-bs-table-search-form {
	.input-group-btn>.react-bs-table-search-clear-btn, .form-control{
		height: 45px;
		font-size: 18pt;
		font-weight: bolder;
	}
}

.modal-dialog {
	position: fixed;
	right: 0;
	bottom: 20px;
}

.mydialog .modal-dialog{
	position: relative;
}

.modal-open {
	padding-right: 0px;
}

.modal-header {
	color: black;
}

.modal-body {
	padding: 0;
}

.s-alert-box-inner {
	text-align: left;
}

.tr-printed-data {
	background-color: blue;
}

.tr-odd-data {
	background-color: gray;
}

.tr-even-data {
	background-color: black;
}

.failureReason {
	color: black;
	text-indent: 2em;
	font-size: 18pt;
	font-weight: bolder;
}

/* Report Styled */
.fapao_count {
    background-color: RGB(0, 112, 192);
}

.store_count, .fengpi_count {
    background-color: RGB(153, 51, 102);
}

.ok_count {
    background-color: RGB(0, 176, 80);
}

.rework_count {
    background-color: RGB(255, 0, 0);
}

.fx-report-table {
	font-size: 13pt;
}
